@page "/"


<h2>Login page</h2>
<pre>
    Users:  <br />
    - Admin = aviv 
    - User = david
</pre>


<form action="/cookie/login" method="post">
    <input name="name" placeholder="enter user name" type="text" />
    <input type="submit"  value="login" />
</form>